:root {
    --main-title-color: #2E2F42;
    --main-transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);


}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;

}

body {
    color: #434455;
    font-family: "Roboto", sans-serif;


}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.header {
    display: flex;
    align-items: center;

}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 26px 0;

}

.header-navigation {
    display: none;
}

.header-container {
    display: flex;


}

.link {
    text-decoration: none;
}

.studio {
    color: var(--main-title-color);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:hover {
    color: #404bbf;
}

.menu:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    display: none;
}

.adr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adr:focus {
    color: #404bbf;
}

.adr:hover {
    color: #404bbf;
}

.section {
    background-color: var(--main-title-color);
    padding-top: 190px;
    padding-bottom: 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 112px;
}

.caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;

}

.btm {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;

    margin-left: auto;
    margin-right: auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btm:hover {
    color: white;
    background-color: #404BBF;
}

.btm:focus {
    color: #ffffff;
    background-color: #404BBF;
}

.tip {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-bottom: 8px;
    text-align: center;
}

.para {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.tip-two {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
}

.section-four {
    width: 100%;
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    display: none;
}

.punkt {
    /* background-color: #FFFFFF; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    margin-top: 72px;

}

.footer {

    background-color: var(--main-title-color);
    padding-top: 98px;
    padding-bottom: 96px;
}

.studio-two {
    color: #f4f4fd;
}

.all {
    height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.all:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.top-menu {
    /* display: flex;
    gap: 40px;
    margin: 0;
    padding-bottom: 24px;
    padding-top: 24px; */
    display: none;
}

.section-lists {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.section-lists-2 {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;}

.portfolio-list {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
    width: 1128px;

}

.footer-text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 16px;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    font-size: 18px;
    line-height: 21px;
    margin-left: 75px;
}

.portfolio-header {
    border-bottom: 1px solid #E7E9FC;
}

.container-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.btn-portfolio {
    margin-bottom: 72px;
    margin-top: 96px;
    padding: 0;
}

.li-port {
    border-bottom: 1px solid #F4F4FD;
    border-left: 1px solid #F4F4FD;
    border-right: 1px solid #F4F4FD;
    width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-port:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.li-port:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-pics-text {}

.li-btm-space {}

.section-three {
    padding-bottom: 120px;
    padding-top: 120px;
    display: none;
}

.section-two {
    margin-top: 96px;
    margin-bottom: 96px;

}

.text-photos {
    padding-bottom: 32px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;

}

.li-sec-two {}

.sec {
    padding-bottom: 120px;
}

.portfolio-groups {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.portfolio-pics-text-2 {}

.portfolio-pics-text {}

.text-photos {
    padding-bottom: 32px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 8px;
}

.team-soc-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;

}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
    fill: #F4F4FD;
}

.team-soc-link:hover {
    background-color: #404BBF;
}

.team-soc-link:focus {
    background-color: #404BBF;
}

.footer-text-display {}

.footer-text-display-inc {
    margin-top: 72px;
    margin-bottom: 72px;
}

.footer-text-display-inc-2 {
    width: 264px;
    margin: 0 auto;

}

.socials-footer {
    color: white;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 8px;
}

.section-two-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-left: 0;
    display: none;
}

.section-two-item {
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    display: block;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .section-two-link {
    width: 100%;
    height: 100%;
    background-color: #F4F4FD;
    display: block;
    border-radius: 4px;
} */

.company-info-text {
    padding-top: 8px;
}

.section-five {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}



.customers-item {
    width: 168px;
    height: 88px;

}

.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    fill: #8E8F99;
    background-color: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .customers-icon {
    fill: currentColor;
} */

.customers-link:hover {
    border-color: #404BBF;
    fill: #404BBF;
}

.customers-link:focus {
    border-color: #404BBF;
    fill: #404BBF;
}

.team-soc-link-footer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link-footer:hover {
    background-color: #31D0AA;
}

.team-soc-link-footer:focus {
    background-color: #31D0AA;
}

.team-soc-list-2 {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 8px;
}

.portfolio-picture-text {
    position: absolute;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-link {
    display: block;
}

.portfolio-link:hover .portfolio-picture-text {
    transform: translateY(0%);
}

.portfolio-link:focus .portfolio-picture-text {
    transform: translateY(0%);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 392px;
    padding: 72px 0 24px 0;
    min-height: 584px;
    background-color: #FCFCFC;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -1000px);
}

.modal-x-btn {
    top: 24px;
    right: 24px;
    border-radius: 50%;
    position: absolute;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(231, 233, 252, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);


}

.modal-x-btn:hover {
    border-color: #404BBF;
    background-color: #404BBF;
    fill: white;
}

.modal-x-btn:focus {
    border-color: #404BBF;
    background-color: #404BBF;
    fill: white;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.active {
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.modal-title {
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;

    margin-bottom: 34px;
    color: #2E2F42;
}

.modal-form {
    padding-left: 16px;
    padding-right: 16px;
}

.modal-input {
    width: 100%;

    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    font-family: Roboto;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-label {
    font-size: 12px;
    font-weight: 400;
}

/* .modal-label-span {
    display: block;
    margin-bottom: 4px;
    padding: 0;
} */

.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    transform: translateY(-50%);
    top: 50%;
    color: currentColor;
}

.input-text {
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    color: #8E8F99;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-text-area {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 12px;
    height: 120px;
    left: 0px;
    top: 216px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    background-color: transparent;
    resize: none;
    outline: transparent;
    margin-top: 4px;
}

.agree-box {
color: #4d5ae5;

}

.agree-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #8E8F99;
    letter-spacing: 0.04em;
    display: flex;
}

.agree-text::before {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
}

.modal-field-2 {
    margin-bottom: 16px;
}

/* .agree-btn {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    box-sizing: border-box;

} */

.agree-link {
    color: #4D5AE5;
    margin-left: 4px;
}

.modal-send {
    height: 56px;
    width: 169px;
  
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-top: 24px;
}

.modal-send:hover {
    background-color: #404BBF;
    color: white;
}


.modal-send:focus {
    background-color: #404BBF;
    color: white;
}

.submit-btn-con {
    display: block;
    text-align: center;
}

.check-text {
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.check-text::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
}

.input-check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.input-check:checked+.check-text::before {
    color: white;
    background-color: #404BBF;
    border: 1px solid #404BBF;
    border-radius: 2px;
    background-image: url(../images/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.sub-list {
    justify-content: center;

}

.sub-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    color: white;
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: auto;
    margin-left: auto;
}

.sub-btn:hover {
    background-color: #404BBF;
    color: white;
}

.sub-btn:focus {
    background-color: #404BBF;
    color: white;
}

/* .sub-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
} */

.person-email {
    margin-right: 24px;
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    width: 100%;
    margin-bottom: 16px;
}

.person-email::placeholder {
    position: absolute;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    transform: translateY(-50%);
    top: 50%;

}

.sub-div input {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* padding-left: 16px; */
}

.footer-label {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    height: 24px;
}

.socials-footer-2 {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.tele-icon {
    margin-left: 16px;
    fill: white;
}

/* .submit-btn-con {
width: 100%;
} */

/* .input-text-2{
    display: block;
    font-size: 12px;
} */

/* .input-comment-word{
    margin-bottom: 4px;
    margin-top: 8px;
} */

/* 
.input-text {
    font-size: 12px;
    font-weight: 400;
}

.input-text span {
    display: block;
    margin-bottom: 4px; } */
/* .modal-input:invalid {
    background-color: rgba(64, 75, 191, 0.4);
}

.modal-input:placeholder-shown {
    height: 79px;
} */

.form-telegram {
    flex-wrap: wrap;
}

.text-subscribe {
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.menu-2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-close-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-close-svg {
    fill: #2E2F42;
}

.mobile-menu-nav {
    padding-top: 40px;
}

.mobile-menu-nav-items {
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.main-page-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #404bbf;
}

.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address {
    margin-top: auto;
}

.mobile-menu-contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.mobile-menu-contacts-items {}

.mobile-menu-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #4D5AE5;
}

.mobile-menu-email {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    margin-bottom: 48px;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-menu-social-block {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.mobile-menu-sicial {
    width: 40px;
    height: 40px;

}

.mobile-menu-social-links {
    width: 100%;
    height: 100%;
    display: flex;
    background: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-links:focus {
    background-color: #404bbf;

}

.mobile-menu-social-links:hover {
    background-color: #404bbf;

}

.team-soc-item-svg {

    fill: #ffffff;
}

.mobile-logo {}

.spann {
    color: #2e2f42;
}

.stud-span {
    color: #2e2f42;
}

.mobile-menu-open {

    background-color: transparent;
    border: none;
    margin-left: auto;
    color: #2E2F42;
}

.mob-burger-svg {
    fill: #2E2F42;
}

.close {
    transition: background-color 250ms;
  fill: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

}


@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px) ,
   screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
 screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .solutions {
    background-image:  linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/solutions-mob-2x.jpg);
  } }